keras==3.11.3
Keras-Applications==1.0.8
numpy==2.3.3
pandas==2.3.3
pillow==11.3.0
requests==2.32.5
scikit-image==0.25.2
segmentation_models @ git+https://github.com/qubvel/segmentation_models.git@5d24bbfb28af6134e25e2c0b79e7727f6c0491d0
streamlit==1.50.0
gdown==5.2.0 
tensorflow==2.20.0