Flask==2.2.5
gunicorn==21.2.0
numpy==1.23.5
Pillow==10.2.0
streamlit==1.32.0
requests==2.31.0
tensorflow==2.15.0
keras==3.0.5
segmentation-models @ git+https://github.com/qubvel/segmentation_models.git@5d24bbfb28af6134e25e2c0b79e7727f6c0491d0
opencv-python-headless==4.8.1.78
protobuf==3.20.3
h5py==3.10.0
